In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load the dataset
file_path = "train.csv"  # Update the file path if needed
df = pd.read_csv(file_path)

In [6]:
 #Display basic info before cleaning
print("Before Cleaning:")
print(df.info())  # Shows column types and missing values
print(df.describe())  # Summary statistics before cleaning

Before Cleaning:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    0.672131    1.191257   35.674426    0.464481
std     247.052476    0.470725    0.515187   15.643866    0.644159
min       2.000000    0.000000    1.000000    0.920000    0.000000
25%     263.500000    0.000000    1.000000   24.000000    0.000000
50%     457.000000    1.000000    1.000000   36.000000    0.000000
75%     676.000000    1.000000    1.000000   47.500000    1.000000
max     890.000000    1.000000    3.000000   80.000000    3.000000

            Parch        Fare
count  183.000000  183.000000
mean     0.475410   78.682469
std      0.754617   76.347843
min      0.000000    0.000000
25%      0.000000   29.700000
50%      0.000000   57.000000
75%      1.000000   90.000000
max      4.000000  512.329200

In [7]:
#Handle Missing Values
df = df.dropna()  # Removes rows with any missing values
# Alternatively, you can fill missing values instead of removing them:
# df.fillna(df.mean(), inplace=True)  # Fill missing values with column mean

In [9]:
#Detect & Remove Outliers using the IQR method
Q1 = df.quantile(0.25, numeric_only=True)  # 25th percentile
Q3 = df.quantile(0.75, numeric_only=True)  # 75th percentile
IQR = Q3 - Q1  # Interquartile range

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Keep only data within the range
df_cleaned = df[~((df.select_dtypes(include=[np.number]) < lower_bound) | 
                   (df.select_dtypes(include=[np.number]) > upper_bound)).any(axis=1)]

In [10]:
 #Display info after cleaning
print("\nAfter Cleaning:")
print(df_cleaned.info())  # Shows column types and missing values after cleaning
print(df_cleaned.describe())  # Summary statistics after cleaning

After Cleaning:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  142 non-null    int64
 1   Survived     142 non-null    int64
 2   Pclass       142 non-null    int64
 3   Name         142 non-null    object
 4   Sex          142 non-null    object
 5   Age          142 non-null    float64
 6   SibSp        142 non-null    int64
 7   Parch        142 non-null    int64
 8   Ticket       142 non-null    object
 9   Fare         142 non-null    float64
 10  Cabin        142 non-null    object
 11  Embarked     142 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.4+ KB
None
       PassengerId    Survived  Pclass         Age       SibSp       Parch  \
count   142.000000  142.000000   142.0  142.000000  142.000000  142.000000
mean    465.028169    0.661972     1.0   38.418451    0.436620    0.373239
std     242.175188    0.474713     0.0   14.897120    0.525449    0.669595
min       2.000000    0.000000     1.0    0.920000    0.000000    0.000000
25%     271.000000    0.000000     1.0   28.000000    0.000000    0.000000
50%     486.000000    1.000000     1.0   38.000000    0.000000    0.000000
75%     647.500000    1.000000     1.0   49.000000    1.000000    1.000000
max     890.000000    1.000000     1.0   80.000000    2.000000    2.000000

             Fare
count  142.000000
mean    67.710828
std     36.785702
min      0.000000
25%     34.179150
50%     61.577100
75%     86.500000
max    164.866700